body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.form {
    width: 300px;
}

.n-form-item-feedback--error {
    text-align: right;
}

.n-form-item .n-form-item-blank {
    flex-direction: column;
    align-items: end;
}